*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #ffffff;
    color: #05243B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }

.cabecalho-imagem {
    width: 30%;
}

.cabecalho-lista-item {
    display: inline-block;
    font-size: 24px;
}

.NRE-imagem {
    width: 30%;
}

.NRE{
    background-image: linear-gradient(#05243B,#FFFFFF);
    color: #FFFFFF;
    display: flex;
}